<div class="app-component">

  <div class="main-container">
    <div class="question-container">
      <b>Question : </b> <br>
      {{ currentQuestion?.lyrics_hin }}
    </div>

    <div class="result-container">
      <b>Result : </b>  
      {{ recordedLyrics }}
    </div>

    <div class="mic-container">
      <div>
        <label for="cars">Choose a language:</label>
        <select [value]="hi" name="cars" id="cars">
          <option selected value="hi">Hindi</option>
          <option value="en">English</option>
        </select>
      </div>
      <br>
      <img 
      (click)="checkRecroding()" 
      src="assets/images/{{ isRecordingOn ?  'mic-off' : 'mic-on' }}.svg"
    >
    <p>Press to <b>start/stop</b> recording</p>
    </div>
    
  </div>
  
    <footer><p>Antakshari clent v0.0.1</p></footer>
</div>